{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Ваши метатеги и стили -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technical Quiz</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Technical Quiz</h1>
        <form method="post" action="{% url 'submit_exam' %}" id="exam-form">
            <p style="padding-left: 32rem;" id="timer">timer</p>
            {% csrf_token %}
            <input type="hidden" name="subject_id" value="{{ subject_id }}">
            
            {% if questions %}
                {% for question in questions %}
                    <div class="card p-4 mb-3">
                        <h2>-> {{ question.question }}</h2>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="question_{{ question.qno }}" id="o1_{{ question.qno }}" value="{{ question.o1 }}" required>
                            <label class="form-check-label" for="o1_{{ question.qno }}">{{ question.o1 }}</label>
                        </div>
                        
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="question_{{ question.qno }}" id="o2_{{ question.qno }}" value="{{ question.o2 }}" required>
                            <label class="form-check-label" for="o2_{{ question.qno }}">{{ question.o2 }}</label>
                        </div>
                        
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="question_{{ question.qno }}" id="o3_{{ question.qno }}" value="{{ question.o3 }}" required>
                            <label class="form-check-label" for="o3_{{ question.qno }}">{{ question.o3 }}</label>
                        </div>
                        
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="radio" name="question_{{ question.qno }}" id="o4_{{ question.qno }}" value="{{ question.o4 }}" required>
                            <label class="form-check-label" for="o4_{{ question.qno }}">{{ question.o4 }}</label>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="mt-4">No questions available.</p>
            {% endif %}
            <button type="submit" class="btn btn-primary btn-submit" id="submit-exam">Submit</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>
